.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.App > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.CardRows {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  justify-content: center;
  height: 100vh;
}

.CardRows > div {
  display: flex;
  margin: 10px;
}

.rowButton {
  background-color: #b82626;
  color: #fff;
  border: #b82626;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 5px;
  padding: 10px;
  width: 50px;
  font-size: 20px;
}

.rowButton:hover {
  background-color: #d12727;
}

.rowButton:active {
  background-color: #811010;
}

.Deck {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Card {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 5px 0;
  display: flex;
  width: 160px;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin: 2px;
}
