.App {
  text-align: center;
}

.Deck {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Card {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  width: 200px;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin: 2px;
}
